header{
    background-color: rgb(10, 37, 56);
    color: rgb(59, 241, 241);
    text-align: center;
    margin: 0 auto;
}

main{
    background-color: rgb(252, 252, 254);
    color: rgb(27, 195, 238);
}