header{
    background-color: rgb(130, 134, 235);
    color: rgb(6, 33, 101);
    text-align: center;
    margin: 0 auto;
}

main{
    background-color: rgba(243, 195, 195, 0.903);
    color: rgb(13, 62, 224);
}